
/* UNIVERSAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d9dcd6;
  }

  p {
   color: #fce138;
  }

h1 {
font-size: 30px;
}


/* HEADER SECTION */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
} 

/* NAV SECTION */
header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/*HERO/JUMBROTRON SECTION */
.hero {
    background-image: url("../images/hero-background.jpeg");
    height: 380px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Place text in the bottom right of the image */
.hero-box {
    color: #d9dcd6;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 97%;
    margin-bottom: 25px; 
}

.hero-text {
    width: 30%;
    padding: 10px;
    border: 3px solid #d9dcd6;
    font-size: 20px;
    text-align: center;
    float: right;
}

/* ABOUT ME SECTION */
.about-me {
    width: 100%;
    /* margin: 0 auto 30px auto; */
    background: #39a6b2;
    color: #fce138;
    overflow: auto;
  }

.about-me img {
    width: 26%;
    float: left;
    margin: 1%;
}
  
.about-me-bio {
    padding: 35px;
    float: left;
    width: 72%;
  }

.text-left {
    text-align: left;
  }
  
.text-right {
    text-align: right;
  }

.about-me-bio h3 {
    font-size: 45px;
    margin-bottom: 40px;
  }
   
.about-me-bio p {
    font-size: 25px;
    line-height: 1.3;
  }


 /* WORK SECTION */
  .work-grid-item {
    background-color: #39a6b2;
    border: solid;
    padding: 1em;
    color: #39a6b2;
  }


/* test site */
#my-work {
    font-size: 35px; 
}

/* main grid boxes */
.work-grid-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    /* grid-gap: 10px; */
}

/*main box 1*/
.box-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 15;
  }

  /* main box 2 */
  .box-2 {
    grid-column-start: 2;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 15; 
  }

  .work-text {
      text-align: right;
  }

  /* smaller box grids */
  .work-box-item {
    background-color: #d9dcd6;
    border: solid;
    padding: 1em;
    color: #39a6b2
  }

  /* grid in box 2 */
  .box1 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;  
  }



/* CONTACT ME */


/* FOOTER */
footer {
    background: #39a6b2;
    text-align: center;
    width: 100%;
    padding: 40px 35px;
    text-align: center;
    position: absolute;
    bottom: 0;

}

footer h2 {
    display: inline;
    color: #fce138;
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
}

  